body{
    background-color:lightskyblue;
    margin: 0;
    padding: 0;
}


.header{
    text-align: center;
    font-family: cursive;
    background-color: blue;
    font-size: 130%;
    
    height:auto;
    width:100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 2px 10px black;
}



/* profile pic css */

.tushar {
    
    transform: translateY(-90px) translateX(90px);
    margin-top:20px;
    transition: 0.4s;
    width: 150px;
    border: solid lightskyblue 10px;
    
    border-radius: 100px;
    
    box-shadow: 0px 1px 1px ;
  }
  
  .tushar:hover {
    transition: 0.4s;
    
    box-shadow: 0px 8px 8px black;
  }
  
  .tushar:active{
    transition: 0.2s;
    box-shadow: 0px 4px 1px black;

  }

  .name{
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    transform: translateY(-95px);
    text-align: center;
    width: 370px;

    
  }

.left{
  height: 500px;
  width: 400px;
}

  .middle{
    background-color: blueviolet;
    display:grid;
    
  }